body{
    text-align: center;
}
.header-wrapper{
    margin-bottom: 32px;
}

.header-top-wrapper{
    height: 87px;
    background-color: #7DD9E8;
}
.header-top{
    width: 940px;
    margin: 0 auto;
    height: 100%;
}
.header__bottom__wrapper{
    height: 38px;
    background-color: #F5F5F5;
}
.header__bottom{
    margin: 0 auto;
    width: 940px;
    height: 100%;
}

.section-wrapper{
    height: 606px;
    background-color: white;
    padding-bottom: 25px;
}

.section{
    height: 100%;
    width: 940px;
    margin: 0 auto;
}

.left{
    float: left;
    width: 195px;
    height: 601px;
    background-color: #F5F5F5;
    margin-right: 25px;
}

.main{
    float: left;
    width: 718px;
    height: 601px;
}
.main-left{
    float: left;
    width: 516px;
    height: 100%;
    text-align: left;
}
.main-right{
    float: left;
    width: 177px;
    height: 100%;
    background-color: #F5F5F5;
    margin-left: 25px;
}

.footer-wrapper{
    background-color: #727272;
    height: 44px;
}

.footer{
    width: 940px;
    margin: 0 auto;
    height: 100%;
    font-size: 10px;
    color:white;
}

.footer-menu{
    float: left;
    width: 70%;
    background-color: red;
    margin-top: 19px;
    height: 15px;
}
.copyright{
    float: right;
    width: calc(10% - 20px);
    background-color: rgb(236, 92, 92);
    margin-top: 19px;
    height: 15px;
}

.header__searchform{
    float:left;
    width: 338px;
    background-color: yellow;
    height: 20px;
    margin-right: 215px;
    margin-top: 40px;
}
.main-logo{
    float:left;
    width: 222px;
    margin-right:20px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 20px;
}

.header-menus-wrapper{
    float:left;
    width: 140px;
    margin-top: 26px;
    height: 33px;
}

.header__searchform--box{
    float: left;
    width: 277px;
    background-color: green;
    height: 100%;
    margin-right: 10px;
}

.header__searchform--button{
    float: left;
    width: 51px;
    background-color: red;
    height: 100%;
}
.header-menus-username{
    background-color: yellow;
    margin-bottom: 10px;
}

.header-menus{
    background-color: red;
}

.header__bottom--leftmenu{
    float: left;
    width: 490px;
    background-color: green;
    margin-right: 150px;
    margin-top: 10px;
}

.header__bottom--rightmenu{
    float:left;
    width: 300px;
    background-color: yellow;
    margin-top: 10px;
}

.left h1, 
.main-right h1{
    background-color: #59C2DA;
    font-size: 16px;
    height: 42px;
}
.sidebar__topnav--searchItems li{
    list-style: none;
}

.rightmenu_wrapper{
    float: right;
    font-size: 14px;
}

.rightmenu_wrapper:last-child{
    margin-right: 38px;
    color:red;
}

.rightmenu_wrapper img, .rightmenu_wrapper span, .rightmenu_wrapper p{
    float: left;
}

.entries-wrapper--menus{
    height: 67px;
    text-align: center;
    margin-bottom: 15px;
}
.entry-box-menu{
    float:left;
    width: 255px;
    background-color: #F5F5F5;
    height: 100%;
}
.entry-box-menu:first-child{
    margin-right: 6px;
}

.entry{
    height: 100px;
    margin-bottom: 20px;
}
.entry:not(:first-child){
    margin-top: 20px;
}

.entry img{
    float: left;
    width: 72px;
    height: 69px;
    margin-right: 10px;
    background-color: rgb(197, 170, 170);
}
.entry .description{
    float: left;
    background-color: yellow;
    width: 400px;
    height: 100%;
}
.entry-box-menu .top{
    height: cals(38px - 2 * 12px);
    margin-top: 12px;
    margin-bottom: 12px;
}