body{
    text-align: center;
}
.header{
    margin-bottom: 32px;
}

.header__wrapper--top{
    height: 87px;
    background-color: #7DD9E8;
}
.header__top{
    width: 940px;
    margin: 0 auto;
    height: 100%;
}
.header__wrapper--bottom{
    height: 38px;
    background-color: #a09595;
}
.header__bottom{
    margin: 0 auto;
    width: 940px;
    height: 100%;
}


.header__top__searchform{
    float:left;
    width: 338px;
    background-color: yellow;
    height: 20px;
    margin-right: 215px;
    margin-top: 40px;
}
.logo-box{
    float:left;
    width: 222px;
    margin-right:20px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 37px;
    background-color: red;
}

.header__top__menuwrapper{
    float:left;
    width: 140px;
    margin-top: 26px;
    height: 33px;
}

.header__top__searchform--box{
    float: left;
    width: 277px;
    background-color: green;
    height: 100%;
    margin-right: 10px;
}

.header__top__searchform--button{
    float: left;
    width: 51px;
    background-color: rgba(228, 99, 221, 0.329);
    height: 100%;
}
.header__top__menuwrapper--username{
    background-color: yellow;
    margin-bottom: 10px;
}

.header__top__menuwrapper--othermenu{
    background-color: rgba(255, 0, 0, 0.39);
}

.header__bottom--leftmenu{
    float: left;
    width: 490px;
    background-color: green;
    margin-right: 150px;
    margin-top: 10px;
}

.header__bottom--rightmenu{
    float:left;
    width: 300px;
    background-color: yellow;
    margin-top: 10px;
}


.header__bottom__rightmenu_wrapper{
    float: right;
    font-size: 14px;
    background-color:rgba(255, 0, 0, 0.39);
}

.header__bottom__rightmenu_wrapper:last-child{
    margin-right: 38px;
}

.header__bottom__rightmenu_wrapper img, .header__bottom__rightmenu_wrapper span, .header__bottom__rightmenu_wrapper p{
    float: left;
}

.body{
    height: 606px;
    background-color: white;
    margin-bottom: 35px;
}

.body-wrapper{
    height: 100%;
    width: 940px;
    margin: 0 auto;
}

.body__left{
    float: left;
    width: 195px;
    height: 601px;
    background-color: #bbb5b5;
    margin-right: 25px;
}

.body__right{
    float: left;
    width: 718px;
    height: 601px;
}
.body__right--left{
    float: left;
    width: 516px;
    height: 100%;
    text-align: left;
}
.body__right--left h1{
    font-size: 25px;
    height: 28px;
}
.body__right--right{
    float: left;
    width: 177px;
    height: 100%;
    background-color:  #bbb5b5;
    margin-left: 25px;
}


.body__left h1, 
.body__right--right h1{
    background-color: #59C2DA;
    font-size: 16px;
    height: 42px;
}


.sidebar__topnav__left--searchItems .item{
    height: 37px;
    background-color: gainsboro;
}
.sidebar__topnav__left--searchItems li{
    list-style: none;
    background-color: yellow;
    height: calc(37px - 20px);
    width: calc(100% - 20px);
    float: left;
    margin: 10px;
}


/* .entries-wrapper{
    margin-bottom: 35px;
} */

.entries-wrapper--menus{
    height: 65px;
    text-align: center;
    background-color: yellow;
}
.entry-box-menu{
    float:left;
    width: 255px;
    background-color: #89e7e7;
    height: 100%;
}
.entry-box-menu:first-child{
    margin-right: 6px;
}

.entry{
    height: 100px;
    /* margin-bottom: 20px; */
    background-color: rgb(124, 182, 209);
}


.entry img{
    float: left;
    width: 72px;
    height: 69px;
    margin-right: 10px;
    background-color: rgb(197, 170, 170);
    margin-top: 10px;
}
.entry .description{
    margin-top: 10px;
    float: left;
    background-color: yellow;
    width: 434px;
    height: calc(100% - 10px);
}
.entry-box-menu--top{
    height: calc(38px - 2 * 12px);
    width: calc(100% - 2* 12px);
    background-color: yellow;
    margin: 12px;
}
.entry-box-menu--bottom{
    height: calc(38px - 2 * 12px);
    width: calc(100% - 2* 12px);
    background-color: yellow;
    margin: 12px;
}
.download__item, .hamburger__item{
    height: 50px;
    background-color: rgb(172, 160, 160);
}
.download__item span, .download__item img{
    float: left;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.466);
}
.hamburger__item span, .hamburger__item img{
    float: left;
    height: 50px;
}


.hamburger__item span, .download__item span{
    width: calc(70% - 20px);
    margin:10px;
    height: calc(100% - 20px);
    background-color:yellow;
}
.hamburger__item img, .download__item img{
    width: calc(30% - 20px);
    background-color: yellow;
    height: calc(100% - 20px);
    margin: 10px;
}

.footer{
    background-color: #727272;
    height: 44px;
}

.footer-wrapper{
    width: 940px;
    margin: 0 auto;
    height: 100%;
    font-size: 10px;
    color:white;
}

.footer-menu{
    float: left;
    width: 70%;
    background-color:rgba(255, 0, 0, 0.39);
    margin-top: 19px;
    height: 15px;
}
.copyright{
    float: right;
    width: calc(10% - 20px);
    background-color: rgb(236, 92, 92);
    margin-top: 19px;
    height: 15px;
}

