body{
    background-color: #ebebeb;
    position: relative;
}

.header-top{
    margin-top: 41px;
    padding-top: 7px;
    padding-bottom: 34px;
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
.logo-box img{
    float: left;
    transform: translateY(-7px);
    margin-right: 10px;
}

.header-wrapper{
    z-index: 10;
    position: relative;
}

.page-title{
    font-size: 39px;
    color: #6017a3;
    font-family: 'Nexa Black', sans-serif;
}
.logo-box .title a{
    text-decoration: none;
}
.page-description{
    font-size: 12px;
    color: #7d7d7d;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}
.logo-box{
    float: left;
    width: 50%;
}
.logo-box.footer-logo-box{
    width: 100%;
}
.footer-logo-box p{
    color: #fff;
}

.right-menus{
    float: right;
    width: 50%;
    position: relative;
    transform: translateY(12px);
}
.right-menus .left{
    content: "";
    float: left;
    position: absolute;
    top: 25%;
    height: 45px;
    clear: both;
    width: 60%;
    right: 0;    
}

.right-menus .text{
    display: inline-block;
    font-size: 12px;
    width: 100%;
}



.right-menus .item{
    width: 100%;
    margin-bottom: 10px;
}



.right-menus .separator{
    display: none;
}
.right-menus .item:first-child .text{
    background: url(../images/pin.svg) top right no-repeat;
    background-size: contain;
}

.right-menus .item:last-child .text{
    background: url(../images/drop-down.svg) top right no-repeat;
    background-size: contain;
}

.right-menus .item:last-child .text:hover{
    background: url(../images/drop-down\ -\ purple.svg) top right no-repeat;
    background-size: contain;
}

.right-menus .item:first-child .text:hover{
    background: url(../images/pin-purple.svg) top right no-repeat;
    background-size: contain;
}

.right-menus .item:first-child +  .item{
    margin-left: 20px;
}

.right-menus .item{
    float: left;
}
.right-menus .item:hover a{
    color: rgb(88, 21, 155);
}

.right-menus .item a{
    text-decoration: none;
    color: #767676;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 11px;
}

.right-menus .search-box{
    display: table;
    clear: both;
    position: relative;
    top: 130px;
    right: 100%;
    width: 100%;
}

@media screen and (min-width: 419px){
    .right-menus .search-box{
        top: 80px;
        margin-bottom: 30px;
    }
}

.right-menus .box{
    border: none;
    height: 45px;
    float: left;
    width: 85%;
}
.right-menus .box:focus{
    outline: 0;
}

.search-box{
    position: relative;
    padding-left: 20px;
    background-color: #fff;
}
.search-box img{
    height: 23px;
    position: absolute;
    top: 18%;
    right: 3%;
    background-color: white;
    fill: #835cc6;
}
.search-box .history-icon{
    background: url(../images/wall-clock.svg)  right no-repeat;
    width: 15%;
    color: #6017a3;
    float: right;
    background-color: #fff;
}

.header-bottom{
    margin-top: 15px;
    border-top: 20px solid transparent;
    /* position: relative; */
    /* top: 40px; */
}

.header-bottom::after{
  content: "";
  clear: both;
  display: table;
}

.header-bottom li{
    width: calc(100%/3 - 1px);
    list-style: none;
    float: left;
    background-color: #fff;
    background: linear-gradient(#fff, rgb(228, 228, 228));
    border-bottom: 5px solid #8038c2;
    margin-bottom: 10px;
}
.header-bottom li:not(:first-child){
    border-left: 1px solid #d4d4d4;
}




.header-bottom a.travelguide{
    background:  url(../images/globe.svg) center no-repeat;
}

.header-bottom a.travelguide:hover{
    background:  url(../images/globe-purple.svg) center no-repeat;
}


.header-bottom a.thetour{
    background:  url(../images/map\ pin-black.svg) center no-repeat;
}

.header-bottom a.thetour:hover{
    background:  url(../images/map\ pin-purple.svg) center no-repeat;
}
.header-bottom a.about{
    background:  url(../images/google-docs.svg) center no-repeat;
}

.header-bottom a.about:hover{
    background:  url(../images/google-docs-purple.svg) center no-repeat;
}

.header-bottom a.services{
    background:  url(../images/paper-plane.svg) center no-repeat;
}

.header-bottom a.services:hover{
    background:  url(../images/paper-plane-purple.svg) center no-repeat;
}

.header-bottom a.howto{
    background:  url(../images/globe.svg) center no-repeat;
}

.header-bottom a.howto:hover{
    background:  url(../images/globe-purple.svg) center no-repeat;
}

.header-bottom a.contact{
    background:  url(../images/google-docs.svg) center no-repeat;
}

.header-bottom a.contact:hover{
    background:  url(../images/google-docs-purple.svg) center no-repeat;
}


.header-bottom a.icon, .header-bottom a.icon:hover{
    background-position-y: 10px;
    background-size: 26px 26px;
}





.header-bottom li a{
    text-decoration: none;
    color: #707070;
    display: block;
    height: 100%;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 33px;
    margin-top: 8px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}


.header-bottom a:hover{
    color: #701dbb;
}


.hero{
    /* transform: translateY(-13px); */
    /* position: relative; */
    /* top: 40px; */
    width: 100% ;
    height: 538px;
    z-index: 8;
    margin-bottom: -13px;
    border-bottom: 1px solid #5b595c;
}



.purple-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    transform: translateX(-50%) translateY(-50%);
}

.body-bottom .heading{
    clear: both;
    margin: 0 auto;
    display: table;
    width: 100%;
}

.body-bottom .purpleplus{
    position: absolute;
    left: 0;
    top: 0;
}
.white-center-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 300;
    transform: translateX(-50%) translateY(-50%);
}

.hero-image{
    background: url(../images/hero.jpg) no-repeat left top;
    width: 100%;
    background-size: cover;
    height: 100%;
}



.body-top{
    content: "";
    display: table;
    clear: both;
}

.body-top-wrapper{
    padding-right: 10px;
    padding-left: 10px;
    background-color: #2d2d2d;
}
.body-middle-wrapper{
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

.body-bottom-wrapper{
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ebebeb;
}


.body-bottom h2, .body-bottom h3{
    text-align: center;
    color: #717171;
}
.body-bottom h2{
    padding-top: 80px;
    font-size: 20px;
    font-family: 'Nexa Book';
    margin-right: 4.7872340425531%;
    font-style: normal;
    font-weight: normal;
}

.body-bottom h3{
    font-size: 14px;
    margin-top: 18px;
    font-family: 'Nexa Bold';
    clear: both;
}


.body-top h2{
    margin-bottom: 10px;
    margin-top: calc(50px + 23px);
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Nexa Book';
    font-weight: normal;
    font-style: normal;
}

.body-top .description{
    text-align: center;
    color: #835cc6;
    margin-bottom: 25px;
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.maplines{
    display: none;
}

.mappin1, .mappin2{
    display: none;
}


.feature h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Nexa Book';
    font-weight: normal;
    font-style: normal;
}
.feature p{
    font-size: 12px;
}



.features{
    max-width: 58.75em;
    margin: 0 auto;
}

.feature:not(:last-child){
    margin-right: 22px;
}


.body-bottom{
    content: "";
    display: table;
    clear: both;
}
.body-bottom .left-line, .body-bottom .right-line{
    display: none;
}


.body-top .icons{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.body-top .icons img{
    width: 10.5%;
    height: 100%;
}
.body-top .icons img:nth-child(3){
    transform: translateY(-10px);
}
.body-top .icons .rect-lines{
    transform: translateY(-13px);
    width: 19.8581560283687%;
}
.body-top .icons img:not(:last-child){
    margin-right: 5.5%;
}


.body-top .features .details{
    clear: both;
    display: table;
    padding-bottom: 40px;
    color: #fff;
}

.body-top .features .details p{
    display: none;
    font-family: 'Arial', sans-serif;
    line-height: 23px;
}

.body-top .feature .knowmorebutton{
    transition: 1s;
    text-align: center;
    background: #222;
    border-radius: 10px;
    color: #eee;
    display: block;
    font-size: 20px;
    font-family: cursive;
    padding: 10px;
    cursor: pointer;
}

.body-top .feature .knowmorebutton:hover {
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }

.body-top .features .details .feature{
    float: left;
    width: calc((100% - 2*22px) / 3);
}


.body-middle-wrapper{
    background-color: #2d2d2d
}
.bigmonitor .text{
    position: relative;
    top: 65.09635974304%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
}


.bigmonitor .text .title{
    color: white;
    margin-bottom: 22px;
    font-size: 24px;
    border-top: 5px solid #7d7d7d;
    border-bottom: 5px solid #7d7d7d;
    padding: 10px 0;
    width: 100%;
    font-family: 'Nexa Book';
}



.bigmonitor .text .subtitle{
    color: #a161db;
    font-size: 14px;
    padding-bottom: 30px;
    font-family: 'Nexa Bold';
}

.body-bottom .memberphotos{
    margin-top: 44px;
    clear: both;
    display: table;
    content: "";
    width: 100%;
}
.body-bottom .memberphotos .item{
    float: left;
    position: relative;
    width: 45%;
    margin-bottom: 15px;
}

.body-bottom .memberphotos .item .frame {
    position: relative;
}
.body-bottom .memberphotos .item .frame .personframe{
    width: 94.827586206896%;
    padding-right: 6px;
    padding-left: 6px;
    background: url(../images/Frame.png) center no-repeat;
    margin-bottom: 18px;
}

.memberphotos .item .name{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #7b7b7b;
    font-weight: 700;
}

.memberphotos .item .job{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #7b7b7b;
    font-weight: 400;
}

.overlap-twitter{
    position:absolute;
    right: 10.08771929824%;
    top: 74%;
    width: 11.63793103448%;
    height: 8.620689655172%;
}


.body-bottom .memberphotos .item:not(:last-child){
    margin-right: 8px;
}

.body-bottom .textarea{
    margin-top: 46px;
}

.body-bottom .textarea .top{
    clear: both;
    display: table;
}
.body-bottom .textarea .bottom{
    margin-top: 16px;
    display: table;
}
.body-bottom .textarea .item-wrapper{
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
}

.body-bottom .textarea .bottom .item-wrapper{
    width: 100%
}
.body-bottom .textarea  .item-wrapper:first-child{
    margin-bottom: 16px;
    margin-right: 20px;
}
.body-bottom .textarea  .bottom {
    margin-bottom: 34px;
}
.textarea .item{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 80px;
    font-family: 'Nexa Bold';
}
.textarea .item .title{
    font-size: 29px;
    width: 100%;
    margin-bottom: 30px;
}
.textarea .item .subtitle{
    margin-bottom: 45px;
    color: #6017a3;
    font-size: 14px;
    line-height: 26.5px;
}
.textarea .item .description{
    margin-bottom: 99px;
    font-size: 12px;
    color: #949494;
    line-height: 23px;
}
.footer-wrapper{
    border-top: 4px solid #904dd0;
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.footer-wrapper{
    background-color: #373737;
}

.footer-top{
    height: 100%;
}
.footer-top .right .menu-top{
    width: 50%;
    float: left;
}




.footer-top .right .menu-top li{
    float: left;
    padding-right: 14px;
    width: 100%;
}
.footer-top .right .menu-top a{
    padding-bottom: 16px;
}

.footer-top .right .menu-top .verticalbar{
    display: none;
    color: #d4d4d4;
    float: right;
    margin-left: 25px;
}


.footer-top .right .menu-top li:last-child{
    margin: 0;
    border: 0;
    padding: 0;
}


.footer-top .left .description, .footer-top .left ul{
    line-height: 23.5px;
    float: left;
    font-size: 12px;
    font-family: 'Roboto';
}
.footer-top .right{
    float: right;
    font-size: 12px;
    padding-top: 8px;
    font-family: 'Nexa Bold';
}

.footer li{
    list-style: none;
}

.footer-top .right .menu-bottom{
    float: right;
    /* text-align: right; */
    width: 50%;
}
.footer-top .right .menu-bottom li{
    float: left;
}
.footer a{
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.footer .menu-bottom a{
    padding-bottom: 16px;
}
.footer-top::after{
    content: "";
  display: block;
  clear: both;
}


.footer-top .left .description{
    clear: both;
    padding-top: 40px;
    color: #fff;
    width: 83.643122676579%;
    padding-bottom: 50px;
}


.footer-top .left ul{
    content: "";
    display: table;
    clear: both;
    padding-bottom: 25px;
}
.footer-top .left li{
    float: left;
    margin-right: 10px;
}
.footer-bottom{
    color: #7d7d7d;
    width: 100%;
    padding-bottom: 245px;
}

.footer-bottom p{
    font-size: 11px;
    width: 80.8510638297%;
    font-family: 'Roboto';
    line-height: 23.5px;
}

.footer-top .right .menu-bottom .item{
    /* padding-left: 35px; */
    /* width: auto; */
    width: 100%;
}
.footer-top .right .menu-bottom .item:first-child{
    padding-left: 0;
}

.footer-top .right .menu-bottom .item img{
    width: 10px;
    height: 10px;
    padding-right: 10px;
}


.dot {
    height: 10px;
    width: 10px;
    background-color: #979797;
    /* margin-right: 7px; */
    margin: 0 3.5px;
    border-radius: 50%;
    display: inline-block;
  }

.threedots a:first-child .dot{
    background-color: #8f33c4;   
}

.threedots a:hover .dot{
    background-color: #8f33c4;
}

.threedots{
    padding-top: 37px;
    text-align: center;
}