body{
    text-align: center;
    font-family: muli;
}
.header-wrapper{
    margin-bottom: 32px;
    min-width: 978px;
}

.top-wrapper{
    height: 87px;
    background-color: #7DD9E8;
    margin: 0 auto;
    min-width: 978px;
}
.header-top{
    width: 938px; /*final value confirmed */
    margin: 0 auto;
    height: 100%;
}
.bottom-wrapper{
    height: 38px;
    background-color: #F5F5F5;
    position: relative;
    min-width: 978px;
    
}
.header-bottom{
    margin: 0 auto;
    width: 938px;
    height: 100%;
}


.searcharea-wrapper{
    float:left;
    width: 336px;
    /* background-color: yellow; */
    height: 20px;
    margin-right: 215px; /* final value confirmed but i'm using 215 since oc is wrong*/
    margin-top: 40px;
}
.logo-box{
    float:left;
    width: 223px; /* final size */
    margin-right:24px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 37px;
}

.header-rightmenu-wrapper{
    float:right;
    width: 140px;
    margin-top: 26px;
    height: 33px;
}
.header-rightmenu-wrapper a{
    text-decoration: none;
    color: black;
}

.searchbox-wrapper{
    float: left;
    width: 276px; /* final value confirmed */
    background-color: #5BC3D6;
    height: 100%;
    margin-right: 7px; /* final value confirmed */
}

.search-button{
    float: left;
    width: 53px; /* final value */
    height: 100%;
    font-size: 9px;
    /* position: absolute; */
}

.search-button .leftimage,
.search-button .rightimage{
    height: 20px;
  width: 4px;
}
.search-button .leftimage{
    background: url(../slices/searchbox-dark-left.png) top left no-repeat;
}


.search-button .rightimage{
    background: url(../slices/searchbox-dark-right.png) top right no-repeat;
}

.search-button .text, 
.search-button .leftimage,
.search-button .rightimage{
    float: left;
}
.search-button .text{
    background-color: #275056;
    height: 20px ;
    color: #FFF;
    width: 45px; 
    line-height: 20px;
} 

.searchbox{
    float: left;
    width: 276px;
}
.searchbox .leftimage{
    background: url(../slices/searchboxleft.png) top left no-repeat;
}

.searchbox .rightimage{
    background: url(../slices/searchboxright.png) top right no-repeat;
}

.searchbox .box{
    margin-left: 6px;
    width: 264px;
    height: 20px;
}
.searchbox .input-box{
    float:  left;
    display: block;
    border:2px solid #caeff7;
    width: 234px;
    font-size: 10px;
    padding-top: 5px;
    background-color: #caeff7;
    height: 11px;
    /* margin-left: 1px; */
}

.searchbox a{
    display: block;
    float: left;
    height: 20px;
    width: 8px;
    /* padding: 10px; */
    /* margin-top: 5px; */
    margin-right: 1px;
    padding-right: 4px;
    background-color: #caeff7;
}

.searchbox .input-search{
    width: 9px;
    margin-right: 0;
}
.searchbox .input-search img{
    padding-top: 5px;
}
.searchbox .input-remove img{
    padding-top: 5px;
}

.header-rightmenu-wrapper .username{
    margin-bottom: 12px; /* final value */
    text-align: right;
    font-size: 16px; /* final value */
}

.header-rightmenu-wrapper .menu{
    float: right;
}


.header-rightmenu-wrapper .menu li{
    float: left;
    list-style: none;
    font-size: 11px; /* final value */
}

.header-bottom .leftmenu{
    float: left;
    width: 550px;
    /* margin-right: 40px; */
    height: 100%;
}
.header-bottom .leftmenu li{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    list-style: none;
    float: left;
    font-size: 13px; /* final value perfect*/
    padding-right: 20px; /* final value */
    display: block;
    height: 38px;
}

.header-bottom .leftmenu a{
    text-decoration: none;
    color: black;
    float: left;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-bottom .leftmenu li:hover{
    background-color: white;
}
.header-bottom .leftmenu li a:hover{
    color: #2dc2d6;
    text-align: center;
}


.header-bottom .rightmenu-wrapper{
    float: right;
    width: 348px;
    margin-top: 10px;
}



.rightmenu-wrapper .rightmenu{
    float: right;
    font-size: 11px; /* final */
}

.rightmenu-wrapper .rightmenu:first-child + div{
    margin-right: 31px; /* final value */
}

.rightmenu-wrapper .rightmenu span, .rightmenu-wrapper .rightmenu p{
    float: right;
    padding-top: 3px;
}
.rightmenu-wrapper .rightmenu span{
    /* margin-right: 10px; */
}

.rightmenu-wrapper .rightmenu span.menuimage{
    width: 17px;
    height: 16px;
    margin-right: 8px; /* final value */
}
.rightmenu-wrapper .rightmenu span.menuimage.person{
    background: url(../slices/smallperson.png) top right no-repeat;
}

.rightmenu-wrapper .rightmenu span.menuimage.box{
    background: url(../slices/smallbox.png) top right no-repeat;
}

.body-wrapper{
    height: 605px;
    background-color: white;
    margin-bottom: 35px;
    min-width: 978px;
}

.body{
    height: 100%;
    width: 938px;
    margin: 0 auto;
}

.body-left{
    float: left;
    width: 194px; /* final value */
    height: 605px; /* final value */
    background-color: #F5F5F5;
    margin-right: 26px; /* final value */
}

.body-right{
    float: left;
    width: 718px; /* final value */
    height: 605px; /*final value */
}
.body-right .left{
    float: left;
    width: 518px;
    height: 100%;
    text-align: left;
}
.body-right .left .heading{
    font-size: 30px; /* final value */
    height: 28px;
}
.body-right .right{
    float: left;
    width: 176px; /* final value */
    height: 100%;
    background-color: #F5F5F5;
    margin-left: 24px; /* final valu */
}



.videonav li{
    list-style: none;
    height: 24.5px;
    padding-top: 10px;
    font-size: 12px;
}
.videonav li a{
    text-decoration: none;
    color: black;
    display: block;
}
.videonav li:hover{
    background-color: #fff;
}
.videonav li a:hover{
    color: #59C2DA;
}
.videonav-wrapper h1, .body-left h1{
    background-color: #5BC3D6;
    color: white;
    width: 164px;
    height: 32px;
    padding-left: 12px; /* final value */
    padding-top: 15px; /* final value */
    font-size: 16px;
    display: inline-block;  
    text-align: left;
}

.body-left h1{
    width: 182px;
    /* overflow: hidden;     */
}


.sidebar-leftnav h1{
   width: 174px;
   padding: 16px 10px;
   color: white;
}



.entries-wrapper .center{
    height: 65px;
    text-align: center;
    border-bottom: 2px solid #59C2DA;
}

.entries-wrapper .image-left{
    background: url(../slices/all-entries-left.png) top left no-repeat
}
.entries-wrapper .image-right{
    background: url(../slices/all-entries-right.png) top right no-repeat
}
.entry-box-menu{
    float:left;
    width: 248px;
    height: 100%;
    background-color: #f5f5f5;
    margin-left: 10px;
}
.entry-box-menu:first-child + .entry-box-menu{
    /* margin-left: 0px; */
    margin-right: 10px;
}
.entry-box-menu:first-child + div{
    margin-left: 2px;
}

.entry{
    height: 100px;
    background-color: white;
}

.entry .author, .entry .topicbox{
    color: #005063;
    font-weight: bold;
}



.entry img{
    float: left;
    width: 72px;
    height: 69px;
    margin-right: 10px;
    background-color: rgb(197, 170, 170);
    margin-top: 10px;
}
.entry .description{
    margin-top: 10px;
    float: left;
    width: 434px;
    height: 90px;
    font-size: 11px;
}
.entry .description span, 
.entry .description h4,
.entry .description p{
    padding-bottom: 7px; /* final value */
}
.entry .description .invite{
    color: #d73e1e;
    text-transform: uppercase;
    font-weight: bold;
}
.entry .description .subscribed{
    color:green;
}
.entry .description h4{
    font-size: 14px;
    margin-top: 5px;
}


.entry .description .newentrycomment{
    color: #309db1;
    font-weight: bold;
    font-weight: bold;
    font-weight: 900;
    text-transform: uppercase;
}
.entry-box-menu .top{
    padding-top: 14px;
    height: 23px;
    font-size: 13px; /* final value */
}
.entry-box-menu .bottom{
    height: 30px;
    /* margin-left: 10px; */
}
.entry-box-menu .bottom.toright{
    /* width: 10000px; */
    margin-left: 10px;
    width: 248px;
}

.toggle-menu{
    float: left;
    margin-right: 10px;
    width: 114px;
    height: 28px;
    background-color: #DDDDDD;
}

.toggle-menu .leftimage{
    background: url(../slices/button-left-gray.png) top left no-repeat;
    width: 10px;
    height: 29px;
    display: block;
    float: left;
}

.toggle-menu .rightimage{
    background: url(../slices/button-right-gray.png) top right no-repeat;
    /* width: 1000px; */
    width: 10px;
    height: 29px;
    display: block;
    float: right;
}

/* 
.toggle-menu.active .leftimage,
.toggle-menu .leftimage:hover{ 
    background: url(../slices/button-left.png) top left no-repeat;
}



.toggle-menu.active .rightimage,
.toggle-menu .rightimage:hover{ 
    background: url(../slices/button-right.png) top right no-repeat;
}
*/

.toggle-menu{
    /* display: block; */
    text-decoration: none;
    font-size: 11px;
    /* height: 17px; */
    color: black;
    /* width: 93px; */
    /* margin-left: 10px; */
    /* margin-top: 11px; */
    line-height: 30px;
} 

.entry-box-menu .bottom a:hover{
    background-color: #2dc2d6;
}
.entry-box-menu .bottom a:hover .rightimage, 
.toggle-menu.active .rightimage{
    background: url(../slices/button-right.png) top right no-repeat;
}

.entry-box-menu .bottom a:hover .leftimage,
.toggle-menu.active .leftimage{
    background: url(../slices/button-left.png) top left no-repeat;
}

.toggle-menu.active,
.toggle-menu:hover{
    background-color: #2dc2d6;   
}



.download-item, .hamburger-item{
    height: 44.5px;
    background-color: #F5F5F5;
    text-align: left;
}


.hamburger-item a, .download-item a{
    float: left;
    /* display: block; */
    /* width: 116px; */
    padding-left:10px;
    padding-top: 15px;
    height: 30px;
    width: 184px;
    text-decoration: none;
    color: black;
    font-size: 11px;
}
.download-item:first-child + .download-item{ /****************************************************************************/
    margin-bottom: 0;
}


.download-item .img-download-button, .hamburger-item .img-hamburger-button{
    width: 12px;
    display: block;
    float: right;
    height: 12px;
    margin-right: 16px;
}

.download-item .img-download-button{
    background: url(../slices/downloadbutton.png) top right no-repeat;
}

.hamburger-item .img-hamburger-button{
    background: url(../slices/hamburger.png) top right no-repeat;
}

.hamburger-item:hover, .download-item:hover{
    background-color: white;
}
.hamburger-item a:hover, .download-item a:hover{
    color: #2dc2d6;
}
.hamburger-item img, .download-item img{
    float: right;
    margin: 10px;
}

.footer{
    height: 44px;
    width: 938px;
    margin: 0 auto;
}

.footer-wrapper{
    background-color: #727272;
    height: 44px;
    font-size: 9px; /* final value */
    color:white;
    margin: 0;
    min-width: 978px;
}

.footer-menu{
    float: left;
    width: 334px;
    margin-top: 19px;
    height: 15px;
    color: white;
}
.footer-menu li{
    float: left;
    padding-right: 20px;
}
.footer-menu li:first-child {
    list-style: none;
}
.copyright{
    float: right;
    width: 74px;
    margin-top: 19px;
    height: 15px;
}